{% extends "base.html" %}
{% load static %}

{% block content %}

<h3 style="color: black; margin-top: 3%;">Problem Set</h3>

{% for problem in problems %}

  <section class="media content-section" style="margin: 0;">
    <div class="media-body">
      <a class="mr-2" href="{% url 'problem' problem.id %}" style="text-decoration: none; color: black;">{{ problem.id }}. {{  problem.title }}</a>
      {% if problem.difficulty == 'E' %}
        <p class="article-content" style="float: right; color: green">EASY</p>
      {% elif problem.difficulty == 'M' %}
        <p class="article-content" style="float: right; color: orange">MEDIUM</p>
      {% elif problem.difficulty == 'H' %}
        <p class="article-content" style="float: right; color: red">HARD</p>
      {% endif %}
    </div>
  </section>

{% endfor %}

{% endblock content %}
  
     
     
   