{% extends "base.html" %}
{% load static %}

{% block content %}

<h3 style="color: black; margin-top: 3%;">Submissions</h3>

<section class="media content-section" style="margin: 0;">
  <table style="table-layout: auto; width: 100%;">

    <tr>
      <th style="background-color: #afc1d5;">Submission_No.</th>
      <th style="background-color: #afc1d5;">Problem</th>
      <th style="background-color: #afc1d5;">Language</th>
      <th style="background-color: #afc1d5;">Result</th>
      <th style="background-color: #afc1d5;">Run_time</th>
      <th style="background-color: #afc1d5;">Submitted_At</th>
    </tr>

    {% for sub in submissions reversed %}

      <tr>
        <td>{{ sub.id }}</td>
        <td><a class="mr-2" href="{% url 'problem' sub.problem.id %}" style="text-decoration: none;">{{ sub.problem.id }}. {{  sub.problem.title }}</a></td>
        <td>{{ sub.lang }}</td>
        <td> 
          {% if sub.verdict == 'AC' %}
            <p style="color: green; margin: 0;">accepted</p>
          {% elif sub.verdict == 'TT' %}
            <p style="color: grey; margin: 0;">testing...</p>
          {% else %}
            <p style="color: red; margin: 0;">
              {% if sub.verdict == 'WA' %}
                wrong answer
              {% elif sub.verdict == 'TLE' %}
                time limit exceeded
              {% elif sub.verdict == 'CE' %}
                compile error
              {% elif sub.verdict == 'RE' %}
                runtime error
              {% endif %}
            </p>
          {% endif %}  
        </td>
        <td> {{ sub.time }} ms </td>
        <td> {{ sub.submitted_at }} </td> <!-- nood to change format -->
      </tr>

    {% endfor %}

  </table>
</section>

{% endblock content %}